# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.user
*.user

*.b35c6b1

*.user

harbour-pingviini.pro.user

harbour-pingviini.pro.user.b35c6b1
rpm/harbour-pingviini.spec.15765
harbour-pingviini.pro.user.3f586e4.4.8-pre1
harbour-pingviini.pro.user.dddf2b5
rpm/harbour-pingviini.spec.17656
